.header {
  max-width: 100%;
  border-bottom: solid
}
.instalogo {
  height: 30px;
}
.searchbox {
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 30% 50%;
  font-size: 14px;
  color: #8F8F8F;
  text-align: center;
}
.five {
  height: 18px;
  width: 18px;
  color: white;
  background-color: #DC565B;
  font-size: 12px;
  border-radius: 100%;
  text-align: center;
  margin-top: -28px;
  margin-left: 15px;

}
.header-bottom-line {
  height: 0,5px;
  width: 98%;
  background: #DBDBDB;
}
.username {
  margin-top: 40px;
}

.biopic {
  margin-left: 100px;
  margin-top: 30px;
}
.follow-button {
  margin-left: 25px;
  height: 29px;
  width: 97px;
  background-color: #4094EF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-button {
  margin-left: 8px;
  height: 29px;
  width: 33px;
  background-color: #4094EF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots-button {
  margin-left: 10px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-numbers {
  margin-top: 15px;
  margin-left:-30px;
}

a {
  color: black;
  font-size: 17px;
}
.user-info {
  width: 531px;
  margin-top: 10px;
  margin-left: -15px;
  font-size: 17px;
  line-height: 21px;
}
.usertext {
  margin-top: -10px;
}
.infolink {
  color: #133768;
  margin-top: -10px;
}
.story-box {
  width: 400px;
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
}
.story-item {
  text-align: center;

}
.top-line {
  height: 0,5px;
  width: 80%;
  background: #DBDBDB;
  margin-top: 50px;
}
.posts-tagged {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
.icon-icon {
  height: 12px;
  margin-right: 5px;
  margin-top: 2px;
}
.tagged {
  color: #8F8F8F;
}
.photo-box {
  margin-top: 60px;
}
.user-photo {
  margin-bottom: 60px;
}
